# CairoSVG is a library used to convert SVG files to PDF and PNG
cairosvg

# lxml is a library for processing XML and HTML in the Python language
lxml

# PyPDF2 is a pure-python PDF library capable of splitting, merging together, cropping, and transforming the pages of PDF files.
pyPDF2
